* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

.wrapper {
   width: min(50rem, 100%);
   margin-inline: auto;
    padding-inline: 2.4rem;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d0ebff;
    z-index: 1000;
    transition: all 0.2s ease;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: 1rem;
}

.logo {
    display: flex;
    font-size: 1.65rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: opacity 0.2s;
    cursor: default;
}

.parte1 {
    color:#000
} 
.parte2 {
    color:#1971c2
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 500;
    color: #1971c2;
    transition: color 0.2s;
    font-size: 1rem;
}


.btn-agendar {
    width: 190px;
    height: 38px;
    top: 15px;
    left: 1053px;
    border-radius: 40px;
    border: 1px solid #000; 
    opacity: 1;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    transform: rotate(0deg);
    border-color: #1971c2;
    color: #1971c2;
    font-weight: bold;
    background-color: transparent;
}

.hero-section {
    display: flex;
    top: 0;
    height: 678px;
    background-color: #d0ebff;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1.4rem;
}

.head-text {
    margin-top: 12rem;
    
    color: #1971c2;
    font-weight: 700;
}